<!DOCTYPE html>
<html lang="en">
  <%- include("header"); -%>
  <!-- 불러오기 -->

  <body>
    <%- include("menu"); -%>

    <!-- Jumbotron -->
    <div class="jumbotron p-0">
      <!-- Card image -->
      <div class="view overlay rounded-top">
        <img src="/ferrari fxxk.jpg" class="img-fluid" alt="ferrari fxxk" />
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <!-- Jumbotron -->

    <%- include("footer.ejs"); -%>
  </body>
</html>
